.grid4,
.grid6,
.grid10 {
    perspective: 1000px;
}

.grid4 button,
.grid6 button,
.grid10 button {

    font-size: 45px;
    padding: 10px;
    margin: 10px;
}

.grid4>div,
.grid6>div,
.grid10>div {
    transform-style: preserve-3d;
    transition: all .2s linear;
}

.grid4 svg,
.grid6 svg,
.grid10 svg {
    display: block;
    margin: auto;
    pointer-events: none;
}

.grid4 {
    width: calc(91px * 4);
}

.grid6 {
    width: calc(91px * 6);
}

.grid10 {
    width: calc(91px * 10);
}

.matched button {
    background-color: var(--green);
}

.finished button {
    background-color: var(--purple);
}

.tries {
    text-align: center;
}